<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <% if current_user.role_id == 1 %>
    <button class="filter" value='1'>Published posts</button>
    <button class="filter" value='0'>Unpublished posts</button>
    <hr>
  <% end %>
<% end %>
<h1>Posts</h1>
<hr>
<%= render @posts %>